html, body{
  height: 100%;
}

.col .row{
  margin-left: 0px;
  margin-right: 0px;
}

input[type=text]:not(.browser-default),textarea.materialize-textarea{
  width: 10%;
  margin: 0 0 0 0;
  height: 15px;
  text-align: center;
}
.container{
  max-width: none;
  width: 100%;
}

.row{
  margin-bottom: 0px;
}

.row .col{
  padding: 0px;
}

.row div{
  text-align: center;

  /* DUBUG STYLE BY SHOWING BORDERS OF ALL COLUMNS & DIV'S*/
  /*border: 1px solid #bdbdbd;*/
}

#header{
  font-size: 2rem;
  background: #2e501b;
  line-height: 60px;
}

#pod_wire{
  border: 1px solid #6ea952;
  background: #f0f0f0;
  height: 448px;
  position: relative;
}

#pod_pos{
  border: 1px solid #6ea952;
  border-bottom: 0px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #f0f0f0;
}

#status{
  border: 1px solid #6ea952;
  height: 148px;
  background: #f0f0f0;
}

#weather{
  border: 1px solid #6ea952;
  background: #f0f0f0;
  height: 148px;
}

#cust_launch_prof{
  position: absolute;
  height: 225px;
  bottom: 0px;
  left: 10%;
  width: 70%;
}

#cust_launch_prof .collection{
  text-align: left;
}

#cust_launch_prof span{
  font-size: 1.2rem;
  position: relative;
  padding-right: 35%;
}

#battery_info{
  border: 1px solid #6ea952;
  background: #f0f0f0;
  position: absolute;
  height: 225px;
  bottom: 0px;
  left: 6.25%;
  width: 81.25%;
}

#pod_info_1{
  border: 1px solid #6ea952;
  position: absolute;
  height: 145px;
  bottom: 52.5px;
  left: 16.66%;
  width: 66.66%;
}

#pod_info_1 .collection{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 1.2rem;
}

#pod_info_1 .collection .collection-item{
  line-height: 26px;
}

#launch_prof{
  position: absolute;
  height: 145px;
  bottom: 52.5px;
  left: 10%;
  width: 70%;
}

#launch_prof span{
  font-size: 1.5rem;
  position: relative;
  padding-right: 48%;
}

#launch_prof_btns{
  width: 49%;
  margin-top:50px;
  height: 50px;
  margin-left: 15%;
  background: #f0f0f0;
}

#launch_prof_btns .row div{
  height: 69px; /* heh */
  font-size: 2rem;
  padding-top: 15px;
}

#pod_info_2{
  border: 1px solid #6ea952;
  background: #f0f0f0;
  position: absolute;
  height: 145px;
  bottom: 52.5px;
  left: 12.5%;
  width: 68.75%;
}

#pod_info_2 .row div{
  border: 1px solid #6ea952;
  background: #f0f0f0;
}

#pod_info_2 .collection{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 1.2rem;
}

#console{
  border: 1px solid #6ea952;
  background: #f0f0f0;
}

#control{
  border: 1px solid #6ea952;
  background: #f0f0f0;
  position: absolute;
  height: 145px;
  line-height: 145px;
  bottom: 36px;
  left: 11.11%;
  width: 77.77%;
}

#control .row div{
  font-size: 2rem;
  height: 143px;
  padding-top: 55px;
}
